<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>
                <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_todolist" aria-controls="nav_todolist" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav_todolist">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a href="{{ path('homepage') }}" class="nav-link {% if 'homepage' == app.request.get('_route') %}active{% endif %}">
                                <span class="fas fa-home" aria-hidden="true"></span> Dashboard
                                {% if 'homepage' in app.request.get('_route') %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                        {% if app.user %}
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if 'task' in app.request.get('_route') %}active{% endif %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-tasks"></span> Tâches
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a href="{{ path('task_create') }}" class="dropdown-item">
                                            <span class="fas fa-plus"></span> Créer une tâche
                                        </a>
                                        <a href="{{ path('task_list') }}" class="dropdown-item">
                                            <span class="fas fa-tasks"></span> Consulter les tâches
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if 'user' in app.request.get('_route') %}active{% endif %}" href="#" id="users" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-users"></span> Utilisateurs
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a href="{{ path('user_create') }}" class="dropdown-item">
                                            <span class="fas fa-user-plus"></span> Créer un utilisateur
                                        </a>
                                        <a href="{{ path('user_list') }}" class="dropdown-item">
                                            <span class="fas fa-users"></span> Gérer les utilisateurs
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    </ul>
                    {% if app.user %}
                        <ul class="navbar-nav my-2 my-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="user_profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-user"></span> {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a href="{{ path('logout') }}" class="dropdown-item">Se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- /.nav -->

        <!-- Page Content -->
        <div class="jumbotron jumbotron-fluid {% block header_class %}{% endblock %}">
            <div class="bg"></div>
            <div class="container">
                <h1 class="display-4">{% block header_title %}{% endblock %}</h1>
                <p class="lead">{% block header_content %}{% endblock %}</p>
          </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for type, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                            {% set beforeMessage = type == 'success' ? 'Superbe' : 'Oops' %}
                            <div class="alert alert-{{ type != 'error' ? type : 'danger' }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p>
                                    <strong>{{ beforeMessage }} !</strong> {{ message }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

        <hr />
        <footer id="todolist_footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-right">
                        <p>Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
