{% extends 'base.html.twig' %}

{% block header_title %}
    Modifier l'utilisateur <i>{{ user.username }}</i>
{% endblock %}

{% block header_content %}
    Remplissez le formulaire pour modifier l'utilisateur
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% include "partials/_breadcrumbs.html.twig" with { 'links' : {
                'Dashboard' : path('homepage'),
                'Utilisateurs': path('user_list'),
                (user.username): path('user_edit', { id: user.id })
            }} %}
        </div>
        <div class="col-md-6 text-right">
            <a href="{{ path('user_list') }}" class="btn btn-secondary">
                <span class="fas fa-users"></span> Retour à la liste des utilisateurs
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-info">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
