{% extends 'base.html.twig' %}

{% block header_title %}
    Utilisateurs
{% endblock %}

{% block header_content %}
    Liste des utilisateurs ayant accès à la liste de tâches
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% include "partials/_breadcrumbs.html.twig" with { 'links' : {
                'Dashboard' : path('homepage'),
                'Utilisateurs': path('user_list')
            }} %}
        </div>
        <div class="col-md-6 text-right">
            <a href="{{ path('user_create') }}" class="btn btn-info">
                <span class="fas fa-user-plus"></span> Créer un utilisateur
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if users|length == 0 %}
                <div class="alert alert-warning" role="alert">
                    Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
                </div>
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom d'utilisateur</th>
                        <th>Adresse email</th>
                        <th>Tâches</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.tasks|length }}</td>
                            <td>
                                <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-info btn-sm">
                                    <span class="fas fa-pencil-alt"></span> Modifier
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
