{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/tasks_list.css') }}" rel="stylesheet">
{% endblock %}

{% block header_title %}
    Tâches en cours
{% endblock %}

{% block header_content %}
    Toutes les tâches qu'il reste à faire.
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% include "partials/_breadcrumbs.html.twig" with { 'links' : {
                'Dashboard' : path('homepage'),
                'Tâches en cours': path('task_list')
            }} %}
        </div>
        <div class="col-md-6 text-right">
            <a href="{{ path('task_create') }}" class="btn btn-info">
                <span class="fas fa-plus"></span> Créer une tâche
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-unstyled list-inline filters">
                <li class="list-inline-item">
                    Filtres :
                </li>
                <li class="list-inline-item filter" data-filter="*">
                    <span class="badge badge-pill badge-secondary">
                        <span class="fas fa-tasks"></span>  Toutes les tâches
                    </span>
                </li>
                <li class="list-inline-item filter" data-filter=".done">
                    <span class="badge badge-pill badge-success">
                        <span class="fas fa-check"></span>  Tâches terminées
                    </span>
                </li>
                <li class="list-inline-item filter" data-filter=".undone">
                    <span class="badge badge-pill badge-warning text-white">
                        <span class="fas fa-ellipsis-h"></span> Tâches en cours
                    </span>
                </li>
                <li class="list-inline-item filter" data-filter=".mine">
                    <span class="badge badge-pill badge-info">
                        <span class="fas fa-user"></span> Mes tâches
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col card-grid">
            <div class="grid-sizer"></div>
            {% for task in tasks %}
                <div class="grid-item {% if task.isDone %}done{% else %}undone{% endif %} {% if task.isAuthor(app.user) %}mine{% endif %}">
                    <div class="card p-3">
                        <div class="text-right">
                            {% if task.isDone %}
                                <span class="badge badge-pill badge-success">
                                    <span class="fas fa-check"></span> terminée
                                </span>
                            {% else %}
                                <span class="badge badge-pill badge-warning text-white">
                                    <span class="fas fa-ellipsis-h"></span> en cours
                                </span>
                            {% endif %}
                        </div>
                        <blockquote class="blockquote mb-0 card-body">
                            <h5 class="card-title text-uppercase">{{ task.title }}</h5>
                            <p class="card-text">{{ task.content }}</p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    {{ task.author.username }}<br/><cite>{{ task.createdAt|date('d/m/Y, H:i') }}</cite>
                                </small>
                            </footer>
                        </blockquote>
                        <hr/>
                        <div class="d-flex justify-content-between">
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                {% if task.isDone %}
                                    <button class="btn btn-warning btn-sm text-white">
                                        <span class="fas fa-times"></span> Non terminé
                                    </button>
                                {% else %}
                                    <button class="btn btn-success btn-sm">
                                        <span class="fas fa-check"></span> Fait
                                    </button>
                                {% endif %}
                            </form>
                            {% if is_granted('edit', task) %}
                                <form action="{{ path('task_edit', {'id' : task.id }) }}">
                                    <button class="btn btn-info btn-sm pull-right">
                                        <span class="fas fa-pencil-alt"></span> Modifier
                                    </button>
                                </form>
                            {% endif %}
                            {% if is_granted('delete', task) %}
                                <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                    <button class="btn btn-danger btn-sm pull-right">
                                        <span class="fas fa-trash"></span> Supprimer
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Il n'y a pas encore de tâche enregistrée.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="{{ asset('js/tasks_list.js') }}"></script>
{% endblock %}